*.dSYM/
/load-display-image/gray-image.jpg
/how-to-scan-images/howToScanImages
/load-display-image/loadAndDisplayImage
/mat-mask-operations/matMaskOperations
/alpha-blending/alphaBlend
/brightness-contrast/brightContrast
/basic-drawing/basicDrawing
/more-drawing/moreDrawing
/discrete-fourier-transform/dft
/file-io/fileIo
/gaussian-blur-filter/gaussianBlurFilter
/erode-dilate/erodeDilate
/more-morphology/moreMorphology
/image-pyramids/imagePyramids
/basic-threshold/basicThreshold
/linear-filters/linearFilters
/adding-borders/addingBorders
/edge-detection/edgeDetect
/laplace/laplace
/canny-edge-detector/canny
/hough-lines/houghLines
/hough-circles/houghCircles
/remap-image/remap
/affine-tranformations/affine
/histogram-equalization/equalizeHistogram
/histogram-calculation/calculateHistogram
/histogram-comparison/compareHistogram
/back-projection/backProject
/template-matching/matchTemplate
/finding-contours/findContours
/convex-hull/convexHull
/bounding-contours/bound
/video-similarity/videoSimilarity
/video-write/videoWrite
/harris-corners/harrisCorners
/shi-tomasi-corners/shiTomasiCorners
/flann-matching/flannMatcher
/homography-perspective/homographyPerspective
/cascade-classifier/cascadeClassify
/support-vector-machines/svm
/blinker/blink
/svm-non-linear/svmNonlinear
