*.dSYM/
/load-display-image/gray-image.jpg
/how-to-scan-images/howToScanImages
/load-display-image/loadAndDisplayImage
/mat-mask-operations/matMaskOperations
/alpha-blending/alphaBlend
/brightness-contrast/brightContrast
/basic-drawing/basicDrawing
/more-drawing/moreDrawing
/discrete-fourier-transform/dft
/file-io/fileIo
/gaussian-blur-filter/gaussianBlurFilter
/erode-dilate/erodeDilate
/more-morphology/moreMorphology
